* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.page {
  background-image: url(./assets/2314983.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control {
  padding: 60px;
  background-color: rgba(224, 224, 224, 0.384);
  border-radius: 30px;
  width: 500px;
  margin-bottom: 20px;
}

.form-floating {
  margin-top: 10px;
}
.submit {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
